*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    max-width: 900px;
    margin: 0 auto;
    background-color: aqua;
}
h1{
    text-align: center;
    padding-top: 10px;
}
#main{ 
    width: 35rem;
    margin: 2rem auto;
}
#mainimg{
    width: 100%;
    padding: 1rem;
    box-shadow: 4px 4px 6px black;
}
#Small{
    display: flex;
    justify-content: center;
}
#simg{
    height: 100px;
    width: 100px;
    margin: 0 10px;
}
#simg:hover{
    cursor: pointer;
}